@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111827;
  }

  body {
    font-family: var(--font-jakarta);
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
